---
###############################################################
#                   Authelia configuration                    #
###############################################################

certificates_directory: /certs/

server:
  address: 'tcp://:::9091/'
  endpoints:
    authz:
      forward-auth:
        implementation: 'ForwardAuth'

log:
  level: debug

totp:
  issuer: authelia.docker.home.arpa

authentication_backend:
  ldap:
    implementation: custom
    timeout: 10s
    start_tls: false
    tls:
      server_name: freeipa.home.arpa
    base_dn: cn=compat,dc=home,dc=arpa
    additional_users_dn: cn=users
    users_filter: (&({username_attribute}={input})(objectClass=posixAccount))
    additional_groups_dn: cn=groups
    groups_filter: (&(memberUid={input})(objectClass=posixGroup))
    permit_unauthenticated_bind: false
    user: uid=ldap_ro,cn=users,cn=accounts,dc=home,dc=arpa
    attributes:
      username: uid
      display_name: uid
      group_name: cn

access_control:
  default_policy: deny
  networks:
    - name: local
      networks:
        - '10.0.0.0/24'
        - '172.17.0.0/16'
        - '2a04:ee41:3:5506::0/64'
  rules:
    - domain: "*.docker.home.arpa"
      networks:
        - 'local'
      policy: one_factor

session:
  cookies:
    - name: authelia_session
      domain: docker.home.arpa
      authelia_url: 'https://authelia.docker.home.arpa'
      default_redirection_url: 'https://traefik.docker.home.arpa/dashboard/#/'
      same_site: 'lax'
      inactivity: '1d'
      expiration: '2d'
      remember_me: '30d'
  redis:
    host: authelia-redis-1
    port: 6379

regulation:
  max_retries: 3
  find_time: 120
  ban_time: 300

storage:
  local:
    path: /config/db.sqlite3

notifier:
  #smtp:
    #username: test
    ## This secret can also be set using the env variables AUTHELIA_NOTIFIER_SMTP_PASSWORD_FILE
    #password: password
    #host: mail.example.com
    #port: 25
    #sender: admin@example.com
  filesystem:
    filename: /config/notification.txt
...
